.alocation-modal-container {
  width: 600px;
  background-color: #ffffff;
  border-radius: 30px;
  position: absolute;
  top: -650px;
  left: 190px;
  z-index: 1000;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);

  .single-colored {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    span {
      font-family: "Playfair Display", serif;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
    }
    img {
      width: 200px;
      height: 120px;
    }
  }
}

.color-material-modal-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 30px;
  position: absolute;
  top: -150px;
  left: -50%;
  transform: translate(-35%, 0%);
  z-index: 1005;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  span {
    width: 100px !important;
  }
}
