.ring-pair-container {
  width: 100%;
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 170px);

  @media screen and (max-width: 1920px) {
    margin-left: 100px;
  }

  @media screen and (max-width: 1650px) {
    margin-left: 0px;
  }

  .ring-pair-order {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 700px;
      height: 500px;
      margin: 30px 40px auto 30px;

      @media screen and (max-width: 1650px) {
        width: auto;
        margin-left: 100px;
      }
    }

    .btn-saved {
      background-color: #4bb543 !important;
      color: #ffffff !important;
    }

    .btn-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 20px;
      font-family: "Playfair Display", serif;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      background-color: #ffffff;
      border-radius: 30px !important;
      border: none;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2) !important;
      padding: 10px 15px;
      text-align: center;
      cursor: pointer;
      margin-bottom: 40px;
    }

    .order-icon,
    .saved-icon,
    .save-icon {
      width: 25px;
      margin: 0 0 0 10px;
      height: 25px;
    }
  }

  .ring-profile-select {
    width: 800px;
    height: auto;
    margin-right: 300px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1600px) {
      width: 600px;
      margin-right: 100px;
    }

    .ring-profile-select-container,
    .ring-color-select-container,
    .ring-measure-select-container {
      display: flex;
      width: 100%;
      align-items: center;
    }

    .ring-profile-select-span {
      width: 250px;
      margin-right: 50px;
      font-family: "Playfair Display", serif;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;

      @media screen and (max-width: 1600px) {
        font-size: 14px;
      }
    }

    .ring-profile-select-select {
      font-family: "Playfair Display", serif;
      text-transform: uppercase;
      font-weight: bold;
      @media screen and (max-width: 1600px) {
        font-size: 14px;
      }
      .css-yk16xz-control {
        border-radius: 30px !important;
        border: none;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2) !important;
        padding: 8px;
      }
      .css-1pahdxg-control {
        border-radius: 30px !important;
        border: none;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2) !important;
        padding: 8px;
      }
    }

    .rc-slider-track {
      background-color: #17a2b8 !important;
    }

    .rc-slider-handle {
      background-color: #17a2b8 !important;
      border: none;
    }

    .ring-color-tab,
    .color-tab {
      width: 100px;
      margin-right: 20px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      height: 30px;
      border-radius: 30px;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    .color-tab:hover {
      opacity: 0.8;
    }

    .selected {
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    }

    .yellow-gold-color {
      background: linear-gradient(
        #ffb302,
        #ffba01,
        #fec300,
        #ffcf00,
        #fed901,
        #ffdf01
      );
      color: #fff;
    }

    .rose-gold-color {
      background: linear-gradient(#b86b77, #c0838c, #cf989f, #d8abb1, #e0bcbf);
      color: #fff;
    }

    .white-gold-color {
      background: linear-gradient(#848b98, #959ba3, #aeb2b8, #c7c9cb, #d7d7d8);
      color: #fff;
    }

    .polished-texture {
      background-image: url("../images/polished-texture.png");
      background-size: cover;
      margin-right: 10px;
    }

    .silk-texture {
      background-image: url("../images/silk-texture.jpg");
      background-size: cover;
      margin-right: 10px;
    }

    .sand-texture {
      background-image: url("../images/sand-texture.jpg");
      background-size: cover;
      margin-right: 10px;
    }

    .ice-texture {
      background-image: url("../images/ice-texture.png");
      background-size: cover;
      margin-right: 10px;
    }

    .rock-texture {
      background-image: url("../images/rock-texture.jpg");
      background-size: cover;
      margin-right: 0px;
    }
  }

  .alocation-container {
    img {
      height: 300px;
      cursor: pointer;
      @media screen and(max-width: 1600px) {
        height: 120px;
      }
    }
  }
}
